body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
}
.profile-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  min-width: 450px;
  margin: auto;
  margin-top: 40px;
  gap: 20px;
}
.profile-card {
  max-width: 600px;
  min-width: 430px;
  width: calc(40% - 50px);
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 4px;
  gap: 15px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.profile-avatar img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid white;
  background-color: black;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);
}

.profile-name {
  margin: 0 0 5px 0;
  font-size: 1.2em;
  font-weight: normal;
  color: #333;
}
.profile-name .first-name {
  font-weight: bold;
  color: #333;
}
.profile-title {
  font-size: 0.9em;
  color: #555;
  margin: 0 0 5px 0;
}
.profile-address {
  margin: 0;
  margin-bottom: 5px;
  font-size: 0.8em;
  color: #777;
}

.btn {
  padding: 8px 15px;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
  background-color: #4285f4;
  color: white;
}
.btn + .btn {
  margin-left: 5px;
}
.btn:hover {
  background-color: #357ae8;
}
.profile-social {
  margin-top: 10px;
}

.userSocialLink {
  color: orange;

  padding: 5px;
}
.userSocialLink + .userSocialLink {
  margin-left: 1px;
}
